body{
    background-color:#f4f4f4;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
    overflow-y: visible;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    margin-top: 20;
}

#main-header{
    background-color:coral;
    color:#fff;
    position: relative;
}

#yutah {
    height: 50px;
    position: absolute;
    right: 150px;
    top: 8px;
}

#navbar{
    background-color:#333;
    color:#fff;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display:inline;
    margin-right: 5px;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
}

#navbar a:hover {
    color: coral;
}

#title {
    font-size: 2.5rem;
    padding-left: 20%;
    font-family: 'Bowlby One SC', cursive;
}

.container1 {
    padding-top: 5%;
}

#info {
    padding-top: 2%;
}

#info ul {
    list-style: none;
    font-size: 1.5rem;
    line-height: 50px;
    position: relative;
    font-family: 'Francois One', sans-serif;
    padding-left: 20%
}

#img {
    width: 25%;
    height: 60vh;
    margin-top: -5%;
    margin-left: -9%;
}

#main{
    float:left;
    width: 50%;
    padding:0 30px;
    box-sizing: border-box;
    margin-left: 13%;
}

#sidebar{
    float:right;
    width: 20%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

@media(max-width:1351px){
    #main{
        width:100%;
        float:none;
        margin-left: 18%
    }
    #aside{
        width:100%;
        float:none;
        margin-top: 10%;
        margin-left: 46.9%;
        
    }
}

#message {
    padding-left: 20%;
    position: relative;
    font-family: 'Francois One', sans-serif;
    font-size: 1.3rem;
}

#linkedin {
    height: 35px;
    padding-left: 0.8%;
    padding-top: 0.5%;
    position: absolute
}

#name-input {
    padding-left: 2.3%
}

#email-input {
    padding-top: 1%
}

#email {
    padding-top: 1%;

}

#submit {
    padding-top: 1%;
    padding-left: 15%
}

#contact-main-footer{
    background:#333;
    color:#fff;
    text-align:center;
    clear: both;
    position: relative;
    width: 100%;
    bottom: 0;
    line-height: 300%;
    margin-top: 8.2%;
}